VITE_APPWRITE_URL=""
VITE_APPWRITE_PROJECT_ID=""
VITE_APPWRITE_DATABASE_ID=""
VITE_APPWRITE_COLLECTION_ID=""
VITE_APPWRITE_BUCKET_ID=""

# Cloudinary Dashboard -> Settings -> Product environment -> Cloud name
VITE_CLOUDINARY_CLOUD_NAME=""
# Cloudinary Dashboard -> Settings -> Upload -> Upload presets (set it to Unsigned)
VITE_CLOUDINARY_UPLOAD_PRESET=""
